@charset "UTF-8";
a {
  color: #696969; }
  a:hover {
    color: #03b1e4; }

/* 头部导航栏 */
.headerNavBox {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5; }

.headerNav {
  width: 1100px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 29px;
  color: #6d6d6d; }
  .headerNav .holle {
    float: left;
    margin-right: 35px; }
  .headerNav .login {
    float: left; }
    .headerNav .login li {
      float: left;
      margin-right: 30px; }
  .headerNav .headNav_nav {
    float: right; }
    .headerNav .headNav_nav .line {
      float: left;
      padding: 0 4px;
      color: #c3c3c3; }
    .headerNav .headNav_nav > li {
      position: relative;
      float: left;
      padding: 0 12px; }
      .headerNav .headNav_nav > li .icon-jiantou9 {
        margin-left: 8px;
        font-size: 10px; }
      .headerNav .headNav_nav > li .icon-shouji {
        margin-right: 6px;
        color: #09ccec;
        font-size: 15px; }
    .headerNav .headNav_nav .headNav_nav_hasIcon9 > a {
      margin-right: 13px; }
    .headerNav .headNav_nav .headNav_nav_hasIcon9 .icon {
      float: right;
      width: 6px;
      height: 29px;
      background: url(../image/topnav.png) no-repeat 0px -70px; }
    .headerNav .headNav_nav .headNav_nav_hasIcon9:hover {
      background: #FFFFFF; }
    .headerNav .headNav_nav .headNav_nav_hasIcon9:hover > .icon {
      background: url(../image/topnav.png) no-repeat 0px -105px; }
    .headerNav .headNav_nav .headNav_nav_hasIcon9 div {
      position: absolute;
      left: 0;
      top: 29px;
      width: 100%;
      display: none;
      padding: 5px 0;
      text-indent: 12px;
      background: #FFFFFF; }
      .headerNav .headNav_nav .headNav_nav_hasIcon9 div img {
        width: 100%; }

/* 头部 */
.header {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-size: 12px;
  line-height: 28px;
  color: #696969; }
  .header .head_input {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%); }
    .header .head_input .head_search {
      border: 2px solid #00c8fe; }
      .header .head_input .head_search #search {
        font-size: 12px;
        line-height: 36px;
        color: #696969;
        border: 0;
        text-indent: 10px;
        width: 328px;
        float: left; }
      .header .head_input .head_search #search + span {
        float: right;
        width: 88px;
        font-size: 16px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        background: #00c8fe;
        cursor: pointer; }
    .header .head_input .head_searchBot > * {
      float: left; }
    .header .head_input .head_searchBot .line {
      font-size: 10px;
      line-height: 28px;
      color: #c3c3c3;
      padding: 0 11px; }
  .header .head_shop {
    position: absolute;
    top: 29px;
    right: 2px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0 0 3px #e2e2e2; }
    .header .head_shop .head_shop_Cart {
      float: left;
      width: 25px;
      margin: 0 10px;
      height: 36px;
      background: url(../image/topnav.png) no-repeat 0px -211px; }
    .header .head_shop .head_shop_bg {
      float: right;
      height: 36px;
      width: 6px;
      margin: 0 7px;
      background: url(../image/topnav.png) no-repeat 0px -67px; }
    .header .head_shop:hover {
      box-shadow: 0 0 5px #c4c4c4; }
    .header .head_shop:hover .head_shop_bg {
      background: url(../image/topnav.png) no-repeat 0px -103px; }
